In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from fbprophet import Prophet
from sklearn.metrics import mean_squared_error, mean_absolute_error
plt.style.use('fivethirtyeight')

In [2]:
data = pd.read_csv('market_day_level.csv',parse_dates=['trans_date'])
data = data.drop(['Unnamed: 0'],axis=1).rename(columns={'Unnamed: 0.1':'Weighted_Price'})

In [3]:
data

,trans_date,Weighted_Price,Open,High,Low,Close,Volume BTC,Volume USD
0,2017-01-01,719.5,977.253208,977.418333,977.095722,977.268465,6.313666,6215.613316
1,2017-01-02,2159.5,1012.263160,1012.541111,1011.959785,1012.273903,6.240900,6320.823541
2,2017-01-03,3599.5,1019.987431,1020.246257,1019.755146,1020.040472,6.866814,7006.929346
3,2017-01-04,5039.5,1076.552882,1077.291757,1075.523986,1076.553639,15.693348,17052.837734
4,2017-01-05,6479.5,1043.609160,1044.932715,1042.048319,1043.547951,25.459151,25625.674044
...,...,...,...,...,...,...,...,...
1535,2021-03-16,2209680.5,55342.874889,55388.028125,55297.895611,55343.697083,5.370296,295599.768827
1536,2021-03-17,2211120.5,56158.036813,56200.458931,56118.449000,56160.989236,4.055609,228489.573523
1537,2021-03-18,2212560.5,58475.809778,58511.486535,58437.665014,58476.000361,3.830878,224455.585754
1538,2021-03-19,2214000.5,58285.026007,58319.591563,58251.435347,58286.280590,2.446863,142674.673298
1539,2021-03-20,2214909.0,58434.810663,58459.973634,58415.101459,58439.921512,1.382558,80685.633946

In [4]:
data['trans_date'] = data['trans_date'].dt.tz_localize(None)
data = data.groupby([pd.Grouper(key='trans_date', freq='D')]).first().reset_index()
data = data.set_index('trans_date')

In [5]:
data

,Weighted_Price,Open,High,Low,Close,Volume BTC,Volume USD
trans_date,,,,,,,
2017-01-01,719.5,977.253208,977.418333,977.095722,977.268465,6.313666,6215.613316
2017-01-02,2159.5,1012.263160,1012.541111,1011.959785,1012.273903,6.240900,6320.823541
2017-01-03,3599.5,1019.987431,1020.246257,1019.755146,1020.040472,6.866814,7006.929346
2017-01-04,5039.5,1076.552882,1077.291757,1075.523986,1076.553639,15.693348,17052.837734
2017-01-05,6479.5,1043.609160,1044.932715,1042.048319,1043.547951,25.459151,25625.674044
...,...,...,...,...,...,...,...
2021-03-16,2209680.5,55342.874889,55388.028125,55297.895611,55343.697083,5.370296,295599.768827
2021-03-17,2211120.5,56158.036813,56200.458931,56118.449000,56160.989236,4.055609,228489.573523
2021-03-18,2212560.5,58475.809778,58511.486535,58437.665014,58476.000361,3.830878,224455.585754
2021-03-19,2214000.5,58285.026007,58319.591563,58251.435347,58286.280590,2.446863,142674.673298
2021-03-20,2214909.0,58434.810663,58459.973634,58415.101459,58439.921512,1.382558,80685.633946

In [6]:
split_date = '2021-03-20'
data_train = data.loc[data.index <= split_date].copy()
data_test = data.loc[data.index > split_date].copy()

In [7]:
data_train

,Weighted_Price,Open,High,Low,Close,Volume BTC,Volume USD
trans_date,,,,,,,
2017-01-01,719.5,977.253208,977.418333,977.095722,977.268465,6.313666,6215.613316
2017-01-02,2159.5,1012.263160,1012.541111,1011.959785,1012.273903,6.240900,6320.823541
2017-01-03,3599.5,1019.987431,1020.246257,1019.755146,1020.040472,6.866814,7006.929346
2017-01-04,5039.5,1076.552882,1077.291757,1075.523986,1076.553639,15.693348,17052.837734
2017-01-05,6479.5,1043.609160,1044.932715,1042.048319,1043.547951,25.459151,25625.674044
...,...,...,...,...,...,...,...
2021-03-16,2209680.5,55342.874889,55388.028125,55297.895611,55343.697083,5.370296,295599.768827
2021-03-17,2211120.5,56158.036813,56200.458931,56118.449000,56160.989236,4.055609,228489.573523
2021-03-18,2212560.5,58475.809778,58511.486535,58437.665014,58476.000361,3.830878,224455.585754
2021-03-19,2214000.5,58285.026007,58319.591563,58251.435347,58286.280590,2.446863,142674.673298
2021-03-20,2214909.0,58434.810663,58459.973634,58415.101459,58439.921512,1.382558,80685.633946

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1540 entries, 2017-01-01 to 2021-03-20
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Weighted_Price  1540 non-null   float64
 1   Open            1540 non-null   float64
 2   High            1540 non-null   float64
 3   Low             1540 non-null   float64
 4   Close           1540 non-null   float64
 5   Volume BTC      1540 non-null   float64
 6   Volume USD      1540 non-null   float64
dtypes: float64(7)
memory usage: 96.2 KB

In [9]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0,1))

def bit_pre_process(raw_data , seq_len, column = 1):
  
  #Select the feature/column 
  data = raw_data.iloc[:, column].values
  data = data.reshape(-1, 1)
  
  #Feature Scaling
  data = sc.fit_transform(data)
  
  #Making sequences
  
  X = []
  y = []

  for i in range(seq_len, len(data)):
      X.append(data[i-seq_len:i, 0])
      #print(X)
      y.append(data[i, 0])
  X, y = np.array(X), np.array(y)

  # Reshaping
  X = np.reshape(X, (X.shape[0], X.shape[1], 1))
  
  return X, y

In [10]:
#Setting the sequence length (Try different values)
sequence_length = 120

#Choosing the idex of the Close column
comumn_index= 4

#Preprocessing the training set
X_train, y_train = bit_pre_process(data_train , sequence_length, comumn_index)

In [11]:
X_train.shape

(1420, 120, 1)

In [12]:
y_train.shape

(1420,)

In [13]:
#Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

#Initialising the RNN
regressor = Sequential()

#Adding the first LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

#Adding a second LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

#Adding a third LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

#Adding a fourth LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))

#Adding the output layer
regressor.add(Dense(units = 1))

In [14]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['mse', 'mae', 'mape'])

In [15]:
regressor.fit(X_train, y_train, epochs = 50, batch_size = 50)

Epoch 1/50
29/29 [==============================] - 9s 153ms/step - loss: 0.0189 - mse: 0.0189 - mae: 0.0842 - mape: 69.7098
Epoch 2/50
29/29 [==============================] - 5s 156ms/step - loss: 0.0018 - mse: 0.0018 - mae: 0.0274 - mape: 22.0620
Epoch 3/50
29/29 [==============================] - 5s 167ms/step - loss: 0.0020 - mse: 0.0020 - mae: 0.0267 - mape: 20.0818
Epoch 4/50
29/29 [==============================] - 5s 168ms/step - loss: 0.0014 - mse: 0.0014 - mae: 0.0230 - mape: 17.2014
Epoch 5/50
29/29 [==============================] - 5s 172ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0253 - mape: 19.5974
Epoch 6/50
29/29 [==============================] - 5s 169ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0234 - mape: 17.1493
Epoch 7/50
29/29 [==============================] - 5s 173ms/step - loss: 0.0016 - mse: 0.0016 - mae: 0.0224 - mape: 15.8564
Epoch 8/50
29/29 [==============================] - 5s 175ms/step - loss: 0.0019 - mse: 0.0019 - mae: 0.0270 - mape: 19.6998
Epoch 9/50
29/29 [==============================] - 5s 174ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0203 - mape: 15.2907
Epoch 10/50
29/29 [==============================] - 5s 179ms/step - loss: 0.0015 - mse: 0.0015 - mae: 0.0230 - mape: 17.0461
Epoch 11/50
29/29 [==============================] - 5s 180ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0199 - mape: 14.2289
Epoch 12/50
29/29 [==============================] - 5s 180ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0198 - mape: 14.0482
Epoch 13/50
29/29 [==============================] - 5s 180ms/step - loss: 0.0013 - mse: 0.0013 - mae: 0.0208 - mape: 15.3891
Epoch 14/50
29/29 [==============================] - 5s 184ms/step - loss: 0.0023 - mse: 0.0023 - mae: 0.0310 - mape: 27.0489
Epoch 15/50
29/29 [==============================] - 5s 188ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0191 - mape: 14.1866  - ETA: 2s - loss: 9.5251e-04 - mse: 9.5251e-04 - mae: 0.0187
Epoch 16/50
29/29 [==============================] - 5s 189ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0189 - mape: 13.3745
Epoch 17/50
29/29 [==============================] - 6s 194ms/step - loss: 8.5653e-04 - mse: 8.5653e-04 - mae: 0.0179 - mape: 14.4980
Epoch 18/50
29/29 [==============================] - 6s 193ms/step - loss: 0.0011 - mse: 0.0011 - mae: 0.0189 - mape: 13.4775
Epoch 19/50
29/29 [==============================] - 6s 199ms/step - loss: 9.6095e-04 - mse: 9.6095e-04 - mae: 0.0186 - mape: 15.2553
Epoch 20/50
29/29 [==============================] - 7s 232ms/step - loss: 8.1976e-04 - mse: 8.1976e-04 - mae: 0.0169 - mape: 12.9311
Epoch 21/50
29/29 [==============================] - 6s 196ms/step - loss: 6.8061e-04 - mse: 6.8061e-04 - mae: 0.0160 - mape: 11.9049
Epoch 22/50
29/29 [==============================] - 7s 228ms/step - loss: 9.3991e-04 - mse: 9.3991e-04 - mae: 0.0179 - mape: 14.0821
Epoch 23/50
29/29 [==============================] - 7s 245ms/step - loss: 6.3309e-04 - mse: 6.3309e-04 - mae: 0.0155 - mape: 12.3035
Epoch 24/50
29/29 [==============================] - 6s 199ms/step - loss: 6.9249e-04 - mse: 6.9249e-04 - mae: 0.0156 - mape: 12.6850
Epoch 25/50
29/29 [==============================] - 6s 205ms/step - loss: 8.7664e-04 - mse: 8.7664e-04 - mae: 0.0169 - mape: 13.9689
Epoch 26/50
29/29 [==============================] - 6s 211ms/step - loss: 6.1864e-04 - mse: 6.1864e-04 - mae: 0.0149 - mape: 12.5249
Epoch 27/50
29/29 [==============================] - 6s 203ms/step - loss: 0.0010 - mse: 0.0010 - mae: 0.0185 - mape: 15.9843
Epoch 28/50
29/29 [==============================] - 6s 198ms/step - loss: 6.7139e-04 - mse: 6.7139e-04 - mae: 0.0157 - mape: 12.7001
Epoch 29/50
29/29 [==============================] - 6s 212ms/step - loss: 7.2758e-04 - mse: 7.2758e-04 - mae: 0.0153 - mape: 12.2318
Epoch 30/50
29/29 [==============================] - 7s 227ms/step - loss: 6.8230e-04 - mse: 6.8230e-04 - mae: 0.0159 - mape: 13.6853
Epoch 31/50
29/29 [==============================] - 6s 206ms/step - loss: 6.8361e-04 - mse: 6.8361e-04 - mae: 0.0165 - mape: 15.7927
Epoch 32/50
29/29 [==============================] - 6s 201ms/step - loss: 8.2864e-04 - mse: 8.2864e-04 - mae: 0.0160 - mape: 12.1144
Epoch 33/50
29/29 [==============================] - 6s 215ms/step - loss: 7.0069e-04 - mse: 7.0069e-04 - mae: 0.0149 - mape: 11.6629
Epoch 34/50
29/29 [==============================] - 6s 199ms/step - loss: 5.1852e-04 - mse: 5.1852e-04 - mae: 0.0142 - mape: 11.5131
Epoch 35/50
29/29 [==============================] - 6s 193ms/step - loss: 5.9471e-04 - mse: 5.9471e-04 - mae: 0.0150 - mape: 12.5705
Epoch 36/50
29/29 [==============================] - 6s 197ms/step - loss: 7.6889e-04 - mse: 7.6889e-04 - mae: 0.0165 - mape: 13.4797
Epoch 37/50
29/29 [==============================] - 6s 200ms/step - loss: 7.0238e-04 - mse: 7.0238e-04 - mae: 0.0162 - mape: 15.1034
Epoch 38/50
29/29 [==============================] - 6s 202ms/step - loss: 6.8052e-04 - mse: 6.8052e-04 - mae: 0.0154 - mape: 12.6641
Epoch 39/50
29/29 [==============================] - 6s 207ms/step - loss: 8.7025e-04 - mse: 8.7025e-04 - mae: 0.0165 - mape: 12.9888
Epoch 40/50
29/29 [==============================] - 6s 206ms/step - loss: 6.3294e-04 - mse: 6.3294e-04 - mae: 0.0154 - mape: 12.7973
Epoch 41/50
29/29 [==============================] - 6s 204ms/step - loss: 7.8906e-04 - mse: 7.8906e-04 - mae: 0.0150 - mape: 12.0325
Epoch 42/50
29/29 [==============================] - 6s 202ms/step - loss: 5.1933e-04 - mse: 5.1933e-04 - mae: 0.0147 - mape: 12.6729
Epoch 43/50
29/29 [==============================] - 6s 200ms/step - loss: 5.7688e-04 - mse: 5.7688e-04 - mae: 0.0139 - mape: 11.3527
Epoch 44/50
29/29 [==============================] - 6s 195ms/step - loss: 6.8507e-04 - mse: 6.8507e-04 - mae: 0.0162 - mape: 14.0097
Epoch 45/50
29/29 [==============================] - 6s 196ms/step - loss: 8.1978e-04 - mse: 8.1978e-04 - mae: 0.0158 - mape: 12.2946
Epoch 46/50
29/29 [==============================] - 6s 199ms/step - loss: 6.6150e-04 - mse: 6.6150e-04 - mae: 0.0143 - mape: 11.3361
Epoch 47/50
29/29 [==============================] - 6s 197ms/step - loss: 7.1783e-04 - mse: 7.1783e-04 - mae: 0.0148 - mape: 12.1355
Epoch 48/50
29/29 [==============================] - 6s 192ms/step - loss: 5.6305e-04 - mse: 5.6305e-04 - mae: 0.0142 - mape: 12.3394
Epoch 49/50
29/29 [==============================] - 6s 206ms/step - loss: 6.6519e-04 - mse: 6.6519e-04 - mae: 0.0146 - mape: 13.5321
Epoch 50/50
29/29 [==============================] - 6s 196ms/step - loss: 5.0319e-04 - mse: 5.0319e-04 - mae: 0.0140 - mape: 11.8855

In [16]:
#Adding the previous 120 days cosing price to the test data
future_set = pd.concat((data_train.tail(sequence_length), data_test), axis = 0)

In [17]:
future_set

,Weighted_Price,Open,High,Low,Close,Volume BTC,Volume USD
trans_date,,,,,,,
2020-11-21,2045519.5,18711.404396,18720.903757,18701.215257,18712.128493,4.123268,77147.991595
2020-11-22,2046959.5,18431.999639,18443.227625,18420.851667,18431.881757,4.456401,81515.748425
2020-11-23,2048399.5,18448.265194,18460.097674,18435.513701,18448.214285,6.536172,120547.000194
2020-11-24,2049839.5,18862.930083,18876.027938,18848.626979,18862.424847,9.210299,174447.378583
2020-11-25,2051279.5,19055.788694,19068.754597,19042.230250,19056.251528,6.224043,118590.597544
...,...,...,...,...,...,...,...
2021-03-16,2209680.5,55342.874889,55388.028125,55297.895611,55343.697083,5.370296,295599.768827
2021-03-17,2211120.5,56158.036813,56200.458931,56118.449000,56160.989236,4.055609,228489.573523
2021-03-18,2212560.5,58475.809778,58511.486535,58437.665014,58476.000361,3.830878,224455.585754
2021-03-19,2214000.5,58285.026007,58319.591563,58251.435347,58286.280590,2.446863,142674.673298
2021-03-20,2214909.0,58434.810663,58459.973634,58415.101459,58439.921512,1.382558,80685.633946

In [18]:
#1st prediction based on the 120 values from training set
pred_list = []
data = future_set.iloc[:, 4].values
data = data.reshape(-1, 1)
#print(data)
#Feature Scaling
data = sc.fit_transform(data)
#a = 0
#b = 120

for i in range(0, 120):
  pred_list.append(data[i,0])

x_test = np.array(pred_list)

# Reshaping
x_test = np.reshape(x_test, (1,x_test.shape[0],1))
#x_test
predicted_stock_price = regressor.predict(x_test)
pred_list.append(predicted_stock_price[0,0]) #appending the predictions back into the list

In [19]:
#Future 60 days prediction - Each prediction will be appended into the list and used for the next prediction
a = 1 
b = 121
for i in range(0,60):
    #print(i)
    x_test = np.array(pred_list[a:b])
    x_test = np.reshape(x_test, (1,x_test.shape[0],1))
    #x_test
    predicted_stock_price = regressor.predict(x_test)
    pred_list.append(predicted_stock_price[0,0])
    a = a+1
    b=b+1
    
pred_list[120:180] #this is the prediction for next 60 days

[0.945139,
 0.9370278,
 0.9321582,
 0.93016016,
 0.93054134,
 0.9328847,
 0.93687916,
 0.94228023,
 0.9488556,
 0.9563511,
 0.9644777,
 0.97291833,
 0.981348,
 0.9894536,
 0.9969563,
 1.0036277,
 1.0093023,
 1.0138843,
 1.0173489,
 1.0197389,
 1.0211574,
 1.0217558,
 1.0217205,
 1.0212549,
 1.0205661,
 1.0198467,
 1.0192646,
 1.0189521,
 1.0190023,
 1.019465,
 1.0203503,
 1.021633,
 1.0232582,
 1.0251496,
 1.0272176,
 1.0293672,
 1.0315051,
 1.0335462,
 1.0354183,
 1.0370654,
 1.038451,
 1.0395569,
 1.040384,
 1.0409497,
 1.0412848,
 1.0414301,
 1.0414338,
 1.0413445,
 1.0412114,
 1.0410777,
 1.0409812,
 1.040949,
 1.0410008,
 1.0411454,
 1.0413829,
 1.0417057,
 1.0421,
 1.0425473,
 1.0430274,
 1.0435176]

In [20]:
predicted_stock_price = np.array(pred_list[120:180])
predicted_stock_price

array([0.945139  , 0.9370278 , 0.9321582 , 0.93016016, 0.93054134,
       0.9328847 , 0.93687916, 0.94228023, 0.9488556 , 0.9563511 ,
       0.9644777 , 0.97291833, 0.981348  , 0.9894536 , 0.9969563 ,
       1.0036277 , 1.0093023 , 1.0138843 , 1.0173489 , 1.0197389 ,
       1.0211574 , 1.0217558 , 1.0217205 , 1.0212549 , 1.0205661 ,
       1.0198467 , 1.0192646 , 1.0189521 , 1.0190023 , 1.019465  ,
       1.0203503 , 1.021633  , 1.0232582 , 1.0251496 , 1.0272176 ,
       1.0293672 , 1.0315051 , 1.0335462 , 1.0354183 , 1.0370654 ,
       1.038451  , 1.0395569 , 1.040384  , 1.0409497 , 1.0412848 ,
       1.0414301 , 1.0414338 , 1.0413445 , 1.0412114 , 1.0410777 ,
       1.0409812 , 1.040949  , 1.0410008 , 1.0411454 , 1.0413829 ,
       1.0417057 , 1.0421    , 1.0425473 , 1.0430274 , 1.0435176 ],
      dtype=float32)

In [21]:
#Inversing the scaled values 
predicted_stock_price = sc.inverse_transform(np.reshape(predicted_stock_price, (60,-1)))

In [22]:
predicted_stock_price

array([[58075.58 ],
       [57722.96 ],
       [57511.27 ],
       [57424.41 ],
       [57440.98 ],
       [57542.85 ],
       [57716.5  ],
       [57951.3  ],
       [58237.15 ],
       [58562.996],
       [58916.28 ],
       [59283.215],
       [59649.67 ],
       [60002.043],
       [60328.203],
       [60618.223],
       [60864.91 ],
       [61064.1  ],
       [61214.715],
       [61318.617],
       [61380.28 ],
       [61406.297],
       [61404.76 ],
       [61384.52 ],
       [61354.58 ],
       [61323.3  ],
       [61297.996],
       [61284.414],
       [61286.594],
       [61306.707],
       [61345.195],
       [61400.96 ],
       [61471.61 ],
       [61553.832],
       [61643.734],
       [61737.184],
       [61830.12 ],
       [61918.855],
       [62000.24 ],
       [62071.84 ],
       [62132.074],
       [62180.152],
       [62216.113],
       [62240.703],
       [62255.27 ],
       [62261.586],
       [62261.746],
       [62257.867],
       [62252.08 ],
       [62246.27 ],
       [62242.07 ],
       [62240.67 ],
       [62242.926],
       [62249.21 ],
       [62259.535],
       [62273.57 ],
       [62290.707],
       [62310.156],
       [62331.023],
       [62352.336]], dtype=float32)

In [23]:
pred_df = pd.DataFrame(predicted_stock_price)
pred_df

               0
0   58075.578125
1   57722.960938
2   57511.269531
3   57424.410156
4   57440.980469
5   57542.851562
6   57716.500000
7   57951.300781
8   58237.148438
9   58562.996094
10  58916.281250
11  59283.214844
12  59649.671875
13  60002.042969
14  60328.203125
15  60618.222656
16  60864.910156
17  61064.101562
18  61214.714844
19  61318.617188
20  61380.281250
21  61406.296875
22  61404.761719
23  61384.519531
24  61354.578125
25  61323.300781
26  61297.996094
27  61284.414062
28  61286.593750
29  61306.707031
30  61345.195312
31  61400.960938
32  61471.609375
33  61553.832031
34  61643.734375
35  61737.183594
36  61830.121094
37  61918.855469
38  62000.238281
39  62071.839844
40  62132.074219
41  62180.152344
42  62216.113281
43  62240.703125
44  62255.269531
45  62261.585938
46  62261.746094
47  62257.867188
48  62252.078125
49  62246.269531
50  62242.070312
51  62240.671875
52  62242.925781
53  62249.210938
54  62259.535156
55  62273.570312
56  62290.707031
57  62310.156250
58  62331.023438
59  62352.335938

In [ ]:
pred_df.to_csv('price_pred.csv', sep=',', encoding='utf-8')